# Project information
site_name: AD域控与数据通信网络
site_url: https://hoochanlon.github.io/aitii-tekisuto
site_author: Martin Donath
site_description: >-
  本文档覆盖了AD域控与数通的架构设计、部署实施、安全加固与日常运维。

# Repository
repo_name: hoochanlon/aitii-tekisuto
repo_url: https://github.com/hoochanlon/aitii-tekisuto

# Copyright
copyright: Copyright &copy; 2020 - 2099 Hoochanlon

# Configuration
theme:
  name: material
  custom_dir: material/overrides
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: logo

# Plugins
plugins:
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true

# Hooks
hooks:
  - material/overrides/hooks/shortcodes.py
  - material/overrides/hooks/translations.py

# Additional configuration
extra:
  status:
    new: Recently added
    deprecated: Deprecated
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/hoochanlon
    - icon: fontawesome/brands/bluesky
      link: https://bsky.app/profile/hoochanlon.bsky.social
    - icon: fontawesome/brands/twitter
      link: https://hoochanlon.github.io/twitter

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

not_in_nav: |
  /tutorials/**/*.md

# Page tree
nav:
  - Home: index.md
  - AD域控:
    - 活动目录: ad/index.md
    - 一、安装域控: ad/1-ad-anzhuang-yukong.md
    - 二、磁盘分区管理: ad/2-ad-cipan-guanli.md
    - 三、R430 服务器组硬件 RAID: ad/3-ad-r430-raid.md
    - 四、安装 WSUS: ad/4-anzhuang_wsus.md
    - 五、添加电脑到域测试组策略效果: ad/5-yu-ruanjian-xianzhi.md
    - 六、使用组策略部署软件: ad/6-yu-ruanjian-anzhuang.md
    - 七、添加备份域控制器实现容错: ad/7-beifen-yukong.md
    - 八、将域控迁移到新买的服务器: ad/8-huanxin-yukong.md
    - 九、域控及文件服务器迁移方案: ad/9-qianyi-yukong-fang-an.md
    - 域控脚本:
      - Powershell介绍: ad/scripts-desc/index.md
      - 一、一键切换Windows系统版本与激活Windows及Office: ad/scripts-desc/1-win-offce-active.md
      - 二、快捷修改IP与软件安装自动化: ad/scripts-desc/2-ip-config-and-soft-install.md
      - 三、根据文本 批量添加相关权限: ad/scripts-desc/3-add-permission-by-text.md
      - 四、查看用户相关文件夹权限，以及移除权限: ad/scripts-desc/4-remove-permission.md
      - 五、域用户人员增删、文件授权、组织单元与域用户恢复: ad/scripts-desc/5-aduser-and-permission-management.md
      - 六、域用户导出到txt文件汇总: ad/scripts-desc/6-aduser-export-to-txt.md
      - 七、Windows基线检查脚本: ad/scripts-desc/7-windows-baseline-script.md
  - 数据通信: 
    - Datacom: datacom/index.md
    - 电话网络:
      - 一、办公室电话接入部署: datacom/phone/1-office-phone-access-deployment.md
      - 二、溯源电话运作原理: datacom/phone/2-phone-operation-principle.md
    - 电脑网络:
      - 一、OA办公网络接入层运营: datacom/pc/1-oa-office-network-access-layer-operation.md
      - 二、 网络设备组装发展过程略: datacom/pc/2-network-device-assembly-development-process.md
      - 三、一篇全文让你彻底理清IP地址、子网掩码、网关: datacom/pc/3-ip-address-subnet-mask-gateway.md
    - 故障排除:
      - 一、一次因AD服务器断电导致的认证故障分析: datacom/troubleshooting/1-ad-server-power-off-authentication-failure-analysis.md
      - 二、一次网络环路事故：当“部分不通”演变为全网瘫痪: datacom/troubleshooting/2-network-loop-accident.md
      - 三、企业环境中代理上网异常的系统化排查与根因分析: datacom/troubleshooting/3-proxy-connectivity-troubleshooting-rca.md

  - 文案写作:
    - 文案写作: outline-the-docs-scheme/index.md
  - 办公协同:
    - 办公协同: office-knowledge-base/index.md
  - Demo: demo/index.md
  - Blog: https://hoochanlon.moe
